[run]
omit =
    _scraps/*
    commonkit/database/backends/mysql.py
    commonkit/database/compat.py
    commonkit/version.py
    bin/*
    docs/*
    legal/*
    setup.py
    */compat.py
    tests/*
    tmp/*
    tmp.*
